@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About Us";

/*
    About Page
    Author: Drew Atkison
*/
}

<!--About Us title-->
<section class="about-title">
    <article class="header-article">
        <h1><strong>About Us</strong></h1>
    </article>
    <article class="about-bread">
        <p><a class="anchor" href="Index">Home</a> / <a class="anchor" href="About">About Us</a></p>
    </article>
</section>

<!--About Us 1 and 2-->
<section class="about-section-container-one">
    <div class="about-surface">
        <article class="about-article-one">
            <ul>
                <li class="services-txt li-about">Welcome</li>
                <li class="company-description">Backdraft is a company that serves their clients</li>
            </ul>
        </article>
        <article class="about-article-two">
            <p class="red-number">01.</p>
            <h4>Our Company</h4>
            <p class="about-text">Lorem ipsum dolor sit amet, consectetur</p>
            <a id="companylink" href="#">Read More</a>
        </article>
        <article class="about-article-three">
            <p class="red-number">02.</p>
            <h4>Our History</h4>
            <p class="about-text">Lorem ipsum dolor sit amet, consectetur</p>
            <a href="#">Read More</a>
        </article>
        <article class="about-article-four">
            <p class="red-number">03.</p>
            <h4>Our Mission</h4>
            <p class="about-text">Lorem ipsum dolor sit amet, consectetur</p>
            <a href="#">Read More</a>
        </article>
        <article class="about-article-five">
            <p class="red-number">04.</p>
            <h4>Our Values</h4>
            <p class="about-text">Lorem ipsum dolor sit amet, consectetur</p>
            <a href="#">Read More</a>
        </article>
    </div>
</section>

<!--Services Offered-->
<section class="service-container service-about-container">
    <div class="surface">
        <ul class="about-ul">
            <li class="services-txt">Our Services</li>
            <li class="company-description">Backdraft Movers is a company with..................</li>
        </ul>
        <!--Services-->
        <div class="item-container">
           <div class="service-one">
               <img src="~/Content/Images/Map@2x.png" alt="State Move Icon" />
               <h4>State and Local Moves</h4>
               <p>Text that will display the details involving moving in state and local</p>
           </div>
           <div class="service-two">
                <img src="~/Content/Images/Clipboard@2x.png" alt="Office Moves" />
                <h4>Residential and Office Moves</h4>
               <p>Text that will display the details involving residential and office moves</p>
           </div>
           <div class="service-three">
                <img src="~/Content/Images/Truck@2x.png" alt="Piano Moves" />
                <h4>Piano Moving</h4>
               <p>Text that will display the details involving piano moves</p>
           </div>
        </div>
        <div class="advertise-text">
            <p>This is text that will display to the users of the site telling them who you are and then they will click on it to go to the contact page and you will get more business!</p>
            <a>Contact Us</a>
        </div>
    </div>
</section>
<!--End Services-->

<!--Begin of the read more portion-->
<section class="about-container">
    <div class="about-surface-extend">
        <article id="our-company" class="about-our-company">
            <h4>Our Company</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod bibendum quam nec fringilla. Suspendisse ac dui vitae justo dapibus interdum vitae ac dui. Ut placerat eu magna vitae vulputate. Nullam vehicula lacus id velit cursus, efficitur congue quam tempor. Vivamus euismod justo in elit consectetur, ut commodo lorem elementum. Cras vel tristique nisl. Donec gravida ligula vel lectus consectetur, eleifend vestibulum ex tempus. Etiam sit amet finibus purus. Vivamus sed diam consectetur, vestibulum ex nec, vestibulum nulla. Praesent cursus vel dolor at commodo. Nulla nec nulla pharetra, pulvinar quam at, ullamcorper magna. Aenean tincidunt tortor ac dapibus auctor. Nunc a nisi sodales, faucibus arcu a, eleifend nulla. Pellentesque condimentum, metus nec iaculis sagittis, nibh lacus sodales orci, sed tristique nunc velit nec libero. </p>
            <img src="~/Content/Images/Picture_One.png" alt="Picture One"/>
        </article>
        <article id="our-history" class="about-our-history">
            <h4>Our History</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod bibendum quam nec fringilla. Suspendisse ac dui vitae justo dapibus interdum vitae ac dui. Ut placerat eu magna vitae vulputate. Nullam vehicula lacus id velit cursus, efficitur congue quam tempor. Vivamus euismod justo in elit consectetur, ut commodo lorem elementum. Cras vel tristique nisl. Donec gravida ligula vel lectus consectetur, eleifend vestibulum ex tempus. Etiam sit amet finibus purus. Vivamus sed diam consectetur, vestibulum ex nec, vestibulum nulla. Praesent cursus vel dolor at commodo. Nulla nec nulla pharetra, pulvinar quam at, ullamcorper magna. Aenean tincidunt tortor ac dapibus auctor. Nunc a nisi sodales, faucibus arcu a, eleifend nulla. Pellentesque condimentum, metus nec iaculis sagittis, nibh lacus sodales orci, sed tristique nunc velit nec libero. </p>
        </article>
        <article id="our-mission" class="about-our-mission">
            <h4>Our Mission</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod bibendum quam nec fringilla. Suspendisse ac dui vitae justo dapibus interdum vitae ac dui. Ut placerat eu magna vitae vulputate. Nullam vehicula lacus id velit cursus, efficitur congue quam tempor. Vivamus euismod justo in elit consectetur, ut commodo lorem elementum. Cras vel tristique nisl. Donec gravida ligula vel lectus consectetur, eleifend vestibulum ex tempus. Etiam sit amet finibus purus. Vivamus sed diam consectetur, vestibulum ex nec, vestibulum nulla. Praesent cursus vel dolor at commodo. Nulla nec nulla pharetra, pulvinar quam at, ullamcorper magna. Aenean tincidunt tortor ac dapibus auctor. Nunc a nisi sodales, faucibus arcu a, eleifend nulla. Pellentesque condimentum, metus nec iaculis sagittis, nibh lacus sodales orci, sed tristique nunc velit nec libero. </p>
        </article>
        <article id="our-values" class="about-our-values">
            <h4>Our Values</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod bibendum quam nec fringilla. Suspendisse ac dui vitae justo dapibus interdum vitae ac dui. Ut placerat eu magna vitae vulputate. Nullam vehicula lacus id velit cursus, efficitur congue quam tempor. Vivamus euismod justo in elit consectetur, ut commodo lorem elementum. Cras vel tristique nisl. Donec gravida ligula vel lectus consectetur, eleifend vestibulum ex tempus. Etiam sit amet finibus purus. Vivamus sed diam consectetur, vestibulum ex nec, vestibulum nulla. Praesent cursus vel dolor at commodo. Nulla nec nulla pharetra, pulvinar quam at, ullamcorper magna. Aenean tincidunt tortor ac dapibus auctor. Nunc a nisi sodales, faucibus arcu a, eleifend nulla. Pellentesque condimentum, metus nec iaculis sagittis, nibh lacus sodales orci, sed tristique nunc velit nec libero. </p>
        </article>
    </div>
</section>
<script>

    //Services Script
    $(".service-one").click(function () {

        //Check to see if the div with class 'service-one'
        //has the class 'active' added to it and if it does not add it
        //if so remove it...Same with all three
        //Also animating the paragraph to visble if active
        if ($('div.service-one').hasClass('active')) {
            //console.log("Remove Class");
            $("div.service-one").removeClass("active");
            $("div.service-one > p").animate({ opacity: '0' }, "0.5");
        } else {
            //console.log("Add Class");
            $("div.service-one").addClass("active");
            $("div.service-one > p").animate({ opacity: '1.0' }, "0.5");
        }

    });
    $(".service-two").click(function () {

        if ($('div.service-two').hasClass('active')) {
            //console.log("Remove Class");
            $("div.service-two").removeClass("active");
            $("div.service-two > p").animate({ opacity: '0' }, "0.5");
        } else {
            //console.log("Add Class");
            $("div.service-two").addClass("active");
            $("div.service-two > p").animate({ opacity: '1.0' }, "0.5");
        }

    });
    $(".service-three").click(function () {

        if ($('div.service-three').hasClass('active')) {
            //console.log("Remove Class");
            $("div.service-three").removeClass("active");
            $("div.service-three > p").animate({ opacity: '0' }, "0.5");
        } else {
            //console.log("Add Class");
            $("div.service-three").addClass("active");
            $("div.service-three > p").animate({ opacity: '1.0' }, "0.5");
        }
    });

</script>