@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About Us";

/*
    About Page
    Author: Drew Atkison
*/
}

<!--About Us title-->
<section class="about-title">
    <article class="header-article">
        <h1><strong>About Us</strong></h1>
    </article>
    <article class="about-bread">
        <p><a class="anchor" href="Index">Home</a> / <a class="anchor" href="About">About Us</a></p>
    </article>
</section>

<!--About Us 1 and 2-->
<section class="about-section-container-one">
    <div class="about-surface">
        <article class="about-article-one">
            <ul>
                <li class="services-txt li-about">Welcome</li>
                <li class="company-description">Backdraft is a company that serves their clients</li>
            </ul>
        </article>
        <article class="about-article-two">
            <p class="red-number">01.</p>
            <h4>Our Company</h4>
            <p class="about-text">Lorem ipsum dolor sit amet, consectetur</p>
            <a id="companylink">Read More</a>
        </article>
        <article class="about-article-three">
            <p class="red-number">02.</p>
            <h4>Our History</h4>
            <p class="about-text">Lorem ipsum dolor sit amet, consectetur</p>
            <a id="historylink">Read More</a>
        </article>
        <article class="about-article-four">
            <p class="red-number">03.</p>
            <h4>Our Mission</h4>
            <p class="about-text">Lorem ipsum dolor sit amet, consectetur</p>
            <a id="missionlink">Read More</a>
        </article>
        <article class="about-article-five">
            <p class="red-number">04.</p>
            <h4>Our Values</h4>
            <p class="about-text">Lorem ipsum dolor sit amet, consectetur</p>
            <a id="valueslink">Read More</a>
        </article>
    </div>
</section>

<section class="service-container">
    <div class="surface">
        <ul>
            <li class="services-txt">Our Services</li>
            <li class="company-description">Backdraft Movers is a company with..................</li>
        </ul>
        <!--Services-->
        <div class="item-container">
           <div class="service-one">
               <img src="~/Content/Images/Map@2x.png" alt="State Move Icon" />
               <h4>State and Local Moves</h4>
               <p>We currently provide local moves in the Dallas area Metroplex  and in-state moves. Local moves are typically charged at an hourly rate with a one-time base trip charge. Out of town moves can be provided at an hourly rate or flat rate. Trip charges for out of town moves will be figured based on distance of move.</p>
           </div>
           <div class="service-two">
                <img src="~/Content/Images/Clipboard@2x.png" alt="Office Moves" />
                <h4>Residential and Office Moves</h4>
               <p>No move to big or to small!  We have experience in apartment moves, house moves, and office moves. You will receive quality work and care of your belongings whether it’s a personal move or business move.</p>
           </div>
           <div class="service-three">
                <img src="~/Content/Images/Truck@2x.png" alt="Piano Moves" />
                <h4>Piano Moving</h4>
               <p>Pianos, whether upright or baby-grand, takes extra care and know-how to move properly and safely. We have experience and use the proper equipment to take care of these items for you so you don’t have to hire an extra company just for your piano.</p>
           </div>
        </div>
        <div class="second-item-container">
            <div class="service-four">
                <img src="~/Content/Images/Running.png" alt="Running" />
                <h4>Miscellaneous or Small Projects</h4>
                <p>Need a delivery? Pick-up and delivery?  Assembly?  Or maybe just things moved around the house? We can help you out! Price will be agreed upon at time of scheduling.</p>
            </div>
            <div class="service-five">
                <img src="~/Content/Images/Box-Closed.png" alt="Box" />
                <h4>Packing and Unpacking</h4>
                <p>This is the text that will be in the Packing and Unpacking box</p>
            </div>
        </div>
        <div class="advertise-text">
            <p>This is text that will display to the users of the site telling them who you are and then they will click on it to go to the contact page and you will get more business!</p>
            <a>Contact Us</a>
        </div>
    </div>
    <!--End Services-->
</section>

<!--Begin of the read more portion-->
<section class="about-container">
    <div class="about-surface-extend">
        <article id="our-company" class="about-our-company">
            <h4>Our Company</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod bibendum quam nec fringilla. Suspendisse ac dui vitae justo dapibus interdum vitae ac dui. Ut placerat eu magna vitae vulputate. Nullam vehicula lacus id velit cursus, efficitur congue quam tempor. Vivamus euismod justo in elit consectetur, ut commodo lorem elementum. Cras vel tristique nisl. Donec gravida ligula vel lectus consectetur, eleifend vestibulum ex tempus. Etiam sit amet finibus purus.  </p>
        </article>
        <article id="our-history" class="about-our-history">
            <h4>Our History</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod bibendum quam nec fringilla. Suspendisse ac dui vitae justo dapibus interdum vitae ac dui. Ut placerat eu magna vitae vulputate. Nullam vehicula lacus id velit cursus, efficitur congue quam tempor. Vivamus euismod justo in elit consectetur, ut commodo lorem elementum. Cras vel tristique nisl. Donec gravida ligula vel lectus consectetur, eleifend vestibulum ex tempus. Etiam sit amet finibus purus. </p>
        </article>
        <article id="our-mission" class="about-our-mission">
            <h4>Our Mission</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod bibendum quam nec fringilla. Suspendisse ac dui vitae justo dapibus interdum vitae ac dui. Ut placerat eu magna vitae vulputate. Nullam vehicula lacus id velit cursus, efficitur congue quam tempor. Vivamus euismod justo in elit consectetur, ut commodo lorem elementum. Cras vel tristique nisl. Donec gravida ligula vel lectus consectetur, eleifend vestibulum ex tempus. Etiam sit amet finibus purus. </p>
        </article>
        <article id="our-values" class="about-our-values">
            <h4>Our Values</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum euismod bibendum quam nec fringilla. Suspendisse ac dui vitae justo dapibus interdum vitae ac dui. Ut placerat eu magna vitae vulputate. Nullam vehicula lacus id velit cursus, efficitur congue quam tempor. Vivamus euismod justo in elit consectetur, ut commodo lorem elementum. Cras vel tristique nisl. Donec gravida ligula vel lectus consectetur, eleifend vestibulum ex tempus. Etiam sit amet finibus purus. Vivamus sed diam consectetur, vestibulum ex nec, vestibulum nulla. Praesent cursus vel dolor at commodo. Nulla nec nulla pharetra, pulvinar quam at, ullamcorper magna. Aenean tincidunt tortor ac dapibus auctor. Nunc a nisi sodales, faucibus arcu a, eleifend nulla. Pellentesque condimentum, metus nec iaculis sagittis, nibh lacus sodales orci, sed tristique nunc velit nec libero. </p>
        </article>
    </div>
</section>
<script>

    $(document).ready(function () {
        SelectServices();
        ScrollToElement();
    });

    function ScrollToElement() {


        $('a#companylink').click(function () {
            $('html, body').animate({ scrollTop: $('article#our-company').offset().top }, 1000);
        });
        $('a#historylink').click(function () {
            $('html, body').animate({ scrollTop: $('article#our-history').offset().top }, 1000);
        });
        $('a#missionlink').click(function () {
            $('html, body').animate({ scrollTop: $('article#our-mission').offset().top }, 1000);
        });
        $('a#valueslink').click(function () {
            $('html, body').animate({ scrollTop: $('article#our-values').offset().top }, 1000);
        });
    }

    function SelectServices() {
        //Services Script
        $(".service-one").click(function () {

            //Check to see if the div with class 'service-one'
            //has the class 'active' added to it and if it does not add it
            //if so remove it...Same with all three
            //Also animating the paragraph to visble if active
            if ($('div.service-one').hasClass('active')) {

                $("div.service-one").removeClass("active");
                $("div.service-one > p").animate({ opacity: '0' }, "0.5");
                $("div.service-one > img").animate({ paddingTop: '40' }, "0.5");
            } else {
                $("div.service-one").addClass("active");
                $("div.service-one > p").animate({ opacity: '1.0' }, "0.5");
                $("div.service-one > img").animate({ paddingTop: '0' }, "0.5");
            }

        });
        $(".service-two").click(function () {

            if ($('div.service-two').hasClass('active')) {

                $("div.service-two").removeClass("active");
                $("div.service-two > p").animate({ opacity: '0' }, "0.5");
                $("div.service-two > img").animate({ paddingTop: '40' }, "0.5");
            } else {
                $("div.service-two").addClass("active");
                $("div.service-two > p").animate({ opacity: '1.0' }, "0.5");
                $("div.service-two > img").animate({ paddingTop: '0' }, "0.5");
            }

        });
        $(".service-three").click(function () {

            if ($('div.service-three').hasClass('active')) {
                $("div.service-three").removeClass("active");
                $("div.service-three > p").animate({ opacity: '0' }, "0.5");
                $("div.service-three > img").animate({ paddingTop: '40' }, "0.5");
            } else {

                $("div.service-three").addClass("active");
                $("div.service-three > p").animate({ opacity: '1.0' }, "0.5");
                $("div.service-three > img").animate({ paddingTop: '0' }, "0.5");
            }
        });
        $(".service-four").click(function () {

            if ($('div.service-four').hasClass('active')) {
                $("div.service-four").removeClass("active");
                $("div.service-four > p").animate({ opacity: '0' }, "0.5");
                $("div.service-four > img").animate({ paddingTop: '40' }, "0.5");
            } else {

                $("div.service-four").addClass("active");
                $("div.service-four > p").animate({ opacity: '1.0' }, "0.5");
                $("div.service-four > img").animate({ paddingTop: '0' }, "0.5");
            }
        });
        $(".service-five").click(function () {

            if ($('div.service-five').hasClass('active')) {
                $("div.service-five").removeClass("active");
                $("div.service-five > p").animate({ opacity: '0' }, "0.5");
                $("div.service-five > img").animate({ paddingTop: '40' }, "0.5");
            } else {

                $("div.service-five").addClass("active");
                $("div.service-five > p").animate({ opacity: '1.0' }, "0.5");
                $("div.service-five > img").animate({ paddingTop: '0' }, "0.5");
            }
        });
    }



</script>