@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<!--Contact Us title-->
<section class="about-title">
    <article class="header-article">
        <h1><strong>Contact Us</strong></h1>
    </article>
    <article class="about-bread">
        <p><a class="anchor" href="Index">Home</a> / <a class="anchor" href="Contact">Contact</a></p>
    </article>
</section>

<!--Contact Us Form-->
<section class="contact-container">
    <div class="contact-surface">
        <article class="contact-form">
            <form>
                <input class="name" type="text" placeholder="Name: " />
                <input class="email" type="email" placeholder="Email: " />
                <textarea placeholder="Message"></textarea>
                <button>Send Message</button>
            </form>
        </article>
        <article class="contact-information">
            <p class="contact-tagline">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue ipsum in elit auctor, vel venenatis nunc pretium. Aenean scelerisque. </p>
            <div class="top-row">
                <h5>Phone: </h5>
                <img src="~/Content/Images/Phone-red.png" alt="Phone Icon" />
                <p>xxx-xxx-xxxx</p>
            </div>
            <div class="top-row">
                <h5>Email: </h5>
                <img src="~/Content/Images/Mail.png" alt="Mail Icon" />
                <p>backdraftmovers@yahoo.com</p>
            </div>
        </article>
    </div>
</section>