@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Pricing";

/*
    Pricing Page
    Author: Drew Atkison
*/
}

<!--Pricing title-->
<section class="about-title">
    <article class="header-article">
        <h1><strong>Pricing</strong></h1>
    </article>
    <article class="about-bread">
        <p><a class="anchor" href="Index">Home</a> / <a class="anchor" href="Pricing">Pricing</a></p>
    </article>
</section>

<!--Pricing Section of the page-->
<section class="pricing-container">
    <div class="pricing-service">
        <article class="pricing-tagline">
            <ul>
                <li class="tagline-header">Backdraft Movers</li>
                <li class="tagline-paragraph">No job is too small and we will always try and work with you on pricing if necessary when we can.</li>
            </ul>
        </article>
        <article class="pricing-one">
            <div>
                <img src="~/Content/Images/Money.png" alt="Money Icon" />
                <h5>2 Movers</h5>
            </div>
            <div class="left-price">
                <h4><span>$</span> 80</h4>
                <p class="bottom-text">Per Hour</p>
            </div>
            <div class="pricing-details">
                <h5>Moves have a 2 hr minimum labor charge</h5>
                <p>and</p>
                <h5>Flat Rate moves can be provided for Out Of Town moves at the customer’s discretion</h5>
                <a href="Contact">Contact Us</a>
            </div>
        </article>
        <article class="pricing-two">
            <div>
                <img src="~/Content/Images/Money.png" alt="Money Icon" />
                <h5>3 Movers</h5>
            </div>
            <div class="middle-price">
                <h4><span>$</span> 105</h4>
                <p class="bottom-text">Per Hour</p>
            </div>
            <div class="pricing-details">
                <h5>Moves have a 2 hr minimum labor charge</h5>
                <p>and</p>
                <h5>Flat Rate moves can be provided for Out Of Town moves at the customer’s discretion</h5>
                <a href="Contact">Contact Us</a>
            </div>
        </article>
        <article class="pricing-three">
            <div>
                <img src="~/Content/Images/Money.png" alt="Money Icon" />
                <h5>4 Movers</h5>
            </div>
            <div class="right-price">
                <h4><span>$</span> 125</h4>
                <p class="bottom-text">Per Hour</p>
            </div>
            <div class="pricing-details">
                <h5>Moves have a 2 hr minimum labor charge</h5>
                <p>and</p>
                <h5>Flat Rate moves can be provided for Out Of Town moves at the customer’s discretion. </h5>
                <a href="Contact">Contact Us</a>
            </div>
        </article>
    </div>
</section>
<section class="specialty-pricing">
    <div>
        <ul>
            <li class="special-title">Pricing for specialty items</li>
            <li class="special-price">Hot tubs, upright piano's, baby grand pianos, large safes, video games, gaming tables,  etc… typically range from $75 to $300.</li>
        </ul>
    </div>
</section>

